@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;700&family=Outfit:wght@400;500&display=swap');

:root {
    --color-primary: #3A4764;
    --color-secondary: #252D42;
    --color-terciary: #181F32;
    --result-button: #D03E30;
    --reset-button: #657298;
    --number-button: #EAE3DB;
    --color-number: #454C59;
    --color-text:  #FFFFFF;
    --special-buttons: #FFFFFF;
    --number-shadow: #B2A399;
    --reset-shadow: #424F72;
    --result-shadow: #92261B;
}

.theme-two {
    --color-primary: #E6E6E6;
    --color-secondary: #D5CDCC;
    --color-terciary: #FFFFFF;
    --result-button: #C85402;
    --reset-button: #388286;
    --number-button: #E6E5E1;
    --color-number: #34372E;
    --color-text: #3B3834;
    --special-buttons: #FFFFFF;
    --number-shadow: #A79E98;
    --reset-shadow: #1A6366;
    --result-shadow: #8D4818;
}

.theme-three {
    --color-primary: #170728;
    --color-secondary: #1C0936;
    --color-terciary: #1C0936;
    --result-button: #01DFCE;
    --reset-button: #57077C;
    --number-button: #331B51;
    --color-number: #F3D875;
    --color-text: #F3D875;
    --special-buttons: #FFFFFF;
    --number-shadow: #691A84;
    --reset-shadow: #A315D4;
    --result-shadow: #67B1C2;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 20px;
    height: 100vh;
    background-color: var(--color-primary);
}

.firts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    padding-top: 30px;
    color: var(--color-text);
}

.firts-container p {
    margin-left: 55px;
    margin-top: 20px;
}

.theme-container ul {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.theme-container li {
    list-style: none;
}

.switch {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 70px;
    height: 25px;
    margin-top: 5px;
    background-color: var(--color-secondary);
    border-radius: 40px;
}

.switch::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    background-color: var(--result-button);
}

.switch-2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 70px;
    height: 25px;
    margin-top: 5px;
    background-color: var(--color-secondary);
    border-radius: 40px;
}

.switch-2::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 5px;
    left: 39%;
    background-color: var(--result-button);
}

.switch-3 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 70px;
    height: 25px;
    margin-top: 5px;
    background-color: var(--color-secondary);
    border-radius: 40px;
}

.switch-3::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 5px;
    left: 70%;  
    background-color: var(--result-button);
}

#toggle {
    position: absolute;
    left: -999999px;
}

.second-container input {
    width: 335px;
    height: 80px;
    border-radius: 7px;
    pointer-events: none;
    background-color: var(--color-terciary);
    border: none;
}

.second-container input::placeholder {
    color: var(--color-text);
    font-size: 3em;
    font-weight: 800;
    text-align: end;
    margin-right: 20px;
}

.third-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    padding: 15px;
    height: 65%;
    border-radius: 7px;
    background-color: var(--color-secondary);
}

.button-container {
    display: flex;
    justify-content: space-around;
    height: 15%;
}

.button-container button {
    cursor: pointer;
    height: 100%;
    width: 20%;
    border-radius: 3px;
    border: none;
    background-color: var(--number-button);
    color: var(--color-number);
    font-size: 1.6em;
    font-weight: 800;
    box-shadow: 0px 5px var(--number-shadow);
}

.button-container .reset-button {
    width: 45%;
    color: var(--special-buttons);
    background-color: var(--reset-button);
    font-size: 1.2em;
    box-shadow: 0px 5px var(--reset-shadow);
}

.button-container .result-button {
    width: 45%;
    color: var(--special-buttons);
    background-color: var(--result-button);
    font-size: 1.2em;
    box-shadow: 0px 5px var(--result-shadow);
}

.button-container .del-button {
    background-color: var(--reset-button);
    color: var(--special-buttons);
    font-size: 1.2em;
    box-shadow: 0px 5px var(--reset-shadow);
}